<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Cloudscape Addons</title>
    <description>A collection of addons for the Cloudscape design system.</description>
    <link>https://cloudscape.bishopz.com</link>
    <atom:link href="https://cloudscape.bishopz.com/rss.xml" rel="self" type="application/rss+xml"/>
    {{#each items}}
    <item>
      <title>{{title}}</title>
      <description>{{description}}</description>
      <link>https://cloudscape.bishopz.com/articles/{{slug}}</link>
      <guid>https://cloudscape.bishopz.com/articles/{{slug}}</guid>
      <pubDate>{{formatDate publicationDate}}</pubDate>
    </item>
    {{/each}}
  </channel>
</rss>